* {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
}

.header {
  font-size: 30px;
  padding: 7px;
  text-align: center;
}

.container {
  gap: 10px;
  display:flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: row wrap;
}

.add_box {
  background-color: #a3c9dc;
  padding: 15px;
  display: inline-grid;
  gap: 10px;
  border: 2px solid black;
  border-radius: 10px;
  width: calc(35vh + 12vw);
}

.task_table {
  display: table;
}

button {
  background-color: black;
  padding: 5px;
  color:white;  
  border:none;
}

button:hover {
  box-shadow: inset 0 0 0 1000px rgba(255,255,255,.3);
}

td {
  text-align:center;
}
